/* Setting up the blog post page's layout */
.container {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 10px;
    margin: auto auto;
    background-color: lightgrey;
}

.container > * {
    grid-column: col-start / span 12;
}

/* Top bar with navigation back to home page */ 

.top-menu {
    display: table;
    border-bottom: black solid 1px;
    text-align: right;
    text-decoration: none;
}

.top-menu a {
    text-decoration-line: none;
}

/* page's header */ 
.header {
    text-align: center;
    border-bottom: dotted black 1px;
}

/* about me block */ 

.bio-layout {
    border-top: dotted 1px;
    margin-right: 10px;
    margin-left: 10px;
}

.bio-layout h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.name {
    margin-left: auto;
    width: min-content;
    margin-right: auto;
    padding-top: 15px;   
    padding-left: 15px;
    padding-right: 15px;
}

.avatar-layout {
    width: min-content;
    margin: auto auto;
}

.avatar-layout img {
    width: 163px;
    border-radius: 50%;
    padding: 15px;
}
     
.bio {
    width: fit-content;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.twitter-follow-button {
    padding-left: 15px;
}
/* teamplate of the blog post */ 

.post-layout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: dotted 1px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* fancy blockquote styling */ 
blockquote {
    min-height: 5em;
    padding   : 1em 4em;
    font      : 1em/150% sans-serif;
    position  : relative;
    
}

blockquote::before,
blockquote::after {
  position: absolute;
  height  : 2rem;
  font    : 4rem/100% 'Georgia', sans-serif;
}

blockquote::before {
  content: '“';
  top    : 0.3rem;
  left   : 0.9rem;
}

blockquote::after {
  content: '”';
  bottom : 0.3rem;
  right  : 0.8rem;
}

blockquote i {
    display   : block;
    font-size : 0.8em;
    margin-top: 1rem;
    font-style: italic;
    text-align: right;
}

.post-quote {
    display: flex;
    flex-direction: row-reverse;
}

/* responsive layout for post's illustrations */ 

.pic1,
.pic2 {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 10px;
    margin: auto auto;
    justify-content: center;
}

.pic1 img,
.pic2 img {
    max-width: 100%;
    vertical-align: center;
    align-items: center;
}

.post figure {
    margin: 0px;
    padding: 0px;
}

.post figurecapture {
    display: block;
    background: rgba(0, 0, 0, 0.39);
    background-position: top;
    background-position-y: top;
    color: white;
    margin-top: -35px;
    padding-left: 15px;
    padding-bottom: 0px;
    padding-top: 5px;
    border: black;
    font-size: 1.1em;
    font-weight: bold;
}

/* signature with an extra color for using at least 3 as in the rubrics */
.post-author {
    padding: 10px;
    color: grey
}

/* sharing buttons */

.post-share {
    display: flex;
    padding: 10px;
    flex-direction: column;
    text-decoration: underline;
}

.sharethis-inline-share-buttons {
    margin-top: 10px;
    padding-top: 5px;
}



/* mobile landscape and tablet portrait */ 

@media (min-width: 500px) {

.bio-layout {
    grid-column: col-start / span 12;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-row: 3;
    justify-content: space-between;
}

.avatar-layout {
    grid-column: 1;
    grid-row: 1 / 9;
}

.name {
    grid-column: 2 / 3;
    grid-row: 3;
}

.bio-layout .bio {
    grid-column: 2 / 4;
    grid-row: 4;
}

.twitter-follow-button {
    padding-right: 15px;
    grid-row: 5;
}
}

/* tablet landscape and small laptop */ 

@media (min-width: 900px) {
.container {
        width: 90%;
}

.twitter-follow-button {
   grid-row: 6;
}

.post-layout {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-auto-columns: minmax(50px,max-content);
    row-gap: 15px;
}

.post-header {
    grid-row: 1;
}

h3 {
    margin-bottom: 0px;
}

.post-quote {
    grid-row: 2;
    grid-column: 8 / 12;
    flex: 0;
}

blockquote {
    flex-shrink: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pic1 {
    grid-column: 8 / 12;
    grid-row: 3;
}
.pic2 {
    grid-column: 8 / 12;
    grid-row: 4;
}

.post-fact {
    grid-column: 1 / 7;
    grid-row: 3;
} 

.post-tips {
    grid-column: 1 / 7;
    grid-row: 4;
}

.post-author {
    grid-column: 1 / 12;
    grid-row: 5;
}

.post-share {
    grid-column: 1 /12;
    grid-row: 6;
}
}

/* big screens */

@media (min-width: 1100px) {

.post-layout {
    display: grid;
    grid-auto-columns: minmax(70px,max-content);
}
}